.d-flex{
    justify-content: space-between;
}
.img2{
    margin-top: 100px;
    display: flex;
    height: 150px;
    width: 400px;

}
.img{
    justify-content: center;
    margin-left: 300px;
    height: 80vh;
    width: 380px;

}
.btnn{
    background-color: blue;
    border-radius: 30px;
    height: 50px;
    width: 200px;
}
.points{
justify-content: space-between;
display: flex;
min-width: 300px;
margin-top: 50px;
}
.list{
    margin-left: 200px;
    width: 100%;
}
.para{
    -ms-grid-row-align: start;
}
.img3{
    height: 100vh;
    width: 100%;
}
.blocks{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}
.coll{
    min-height: 15vh;
    margin-right: 20px;
}
.head{
    margin-top: 700px;
    margin-left: 100px;
}
.head2{
    margin-left: 100px;
}
.block3{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    margin-top: 280px;
}
.colll{
    height:100vh ;
    width: 150%;
}
.block4{
    margin-left: 440px;
}
.li2{
 background-color: rgb(30, 105, 210); 
 border-radius: 7px;  
 width: 100px;
 margin-top: 50px;
 color: blue;
}
.li3{
    background-color: rgb(30, 210, 111); 
    border-radius: 7px;  
    width: 100px;
    color: darkgreen;
     
   }
   .li4{
    background-color: rgb(210, 126, 30);  
    border-radius: 7px;  
    width: 100px;
    color:darkred;
    
   }
   .hh1{
    margin-left: 400px;
   }
   .hh2{
    margin-left: 400px;
   }
   .blck{
    display: flex;
    /* justify-content: space-between; */
    height: 7px;
    width: 100%;
   }
   .blck2{
    display: flex;
    /* justify-content: space-between;
    align-items: center; */ 
    height : 50px;
    width: 100%;
 
   }
.head2{
    margin-top: 300px;
margin-left: 40%;
}
.head3{
    margin-left: 40%;
    margin-top: 30px;
   
}
.summer{
    width: 100px;
    margin-left: 150px;
}
.game{
    /* align-items: center; */
    /* height: 200px; */
    max-width: 200px;
    /* margin-right:auto ; */
    margin-left: 80px;
}
.sum{
    display: flex;
    /* justify-content: space-between; */
}